:where(.main) {
  %theme {
    background-color: black;
    color: white;
  }

  main {
    @extend %theme;
  }

  a {
    &:link {
      color: lightgray;
    }

    &:visited {
      color: gray;
    }

    &:hover {
      color: white;
    }
  }

  .button {
    a {
      color: black;
      background-color: white;
      border-radius: 5px;
    }
  }
}