:where(.nav) {
  display: flex;

  :where(a) {
    :where(&:link) {
      color: lightgray;
    }

    :where(&:visited) {
      color: gray
    }

    :where(&:hover) {
      color: white;
    }
  }
}