%-button {
  box-sizing: content-box;
  display: inline-block;
  width: 4.4em;
  padding: 0.66em;
  text-align: center;
  text-decoration: none;
}

:where(.prev),
:where(.next) {
  @extend %-button
}

.prev {
  float: left;
}

.next {
  float: right;
}

.linkDiv {
  display: block;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}